#surveys_row1 {
  display: flex;
  flex-direction: row;
  background-image: url("../img/laptop.jpeg");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  text-align: center;
}

#surveys_row1Tint {
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 113, 206, 0.7);
}

#surveys_row1Header {
  margin-top: 60px;
  margin-bottom: 60px;
  letter-spacing: 18px;
  font-size: 32px;
  text-transform: uppercase;
}

#surveys_row2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#surveys_row2Body {
  font-size: 18px;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 0px;
}

.surveys_row2Button {
  display: inline-block;
  letter-spacing: 8px;
  text-decoration: none;
  font-family: "Raleway ExtraBold", "Lato", "Helvetica Neue", Helvetica, Arial;
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 14px 20px;
  color: #0071CE;
  border: 3px solid #0071CE;
  text-transform: uppercase;
  text-align: center;
}

#surveys_row2ButtonSeparator {
  font-family: "Raleway SemiBold", "Lato", "Helvetica Neue", Helvetica, Arial;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}